<%= form_for(@scorer) do |f| %>
  <% if @scorer.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@scorer.errors.count, "error") %> prohibited this scorer from being saved:</h2>

      <ul>
      <% @scorer.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
