<h1>Listing scorers</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @scorers.each do |scorer| %>
      <tr>
        <td><%= scorer.name %></td>
        <td><%= link_to 'Show', scorer %></td>
        <td><%= link_to 'Edit', edit_scorer_path(scorer) %></td>
        <td><%= link_to 'Destroy', scorer, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scorer', new_scorer_path %>
