<p id="notice"><%= notice %></p>

<p>
  <strong>Game:</strong>
  <%= @score.game %>
</p>

<p>
  <strong>Scorer:</strong>
  <%= @score.scorer %>
</p>

<p>
  <strong>Minute:</strong>
  <%= @score.minute %>
</p>

<%= link_to 'Edit', edit_score_path(@score) %> |
<%= link_to 'Back', scores_path %>
