<%= link_to 'Users', users_path, class: 'navbar-brand' %>
<%= link_to 'Users Rank', rank_users_path, class: 'navbar-brand' %>
<%= link_to 'Games', games_path, class: 'navbar-brand' %>
<%= link_to 'Goals', scores_path, class: 'navbar-brand' %>
<%= link_to 'Scorers', scorers_path, class: 'navbar-brand' %>
